/* http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */
* {
  box-sizing: border-box;
}
html {
  font-size: 1.5em; /* 24/16px= 1.5 em*/
  line-height: 1.1666666667em; /* 28/24px= 1.1666666667 em*/
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0.6666666667em; /* 16/24px= 0.6666666667 em*/
}
body {
  background-color: pink;
  padding: 0.5em; /* 12/24px= 0.5 em*/
  margin: 0;
}
h1 {
  font-size: 2em; /* 48/24px= 2 em*/
  line-height: 1em; /* 48/48px= 1 em*/
  padding: 0.3333333333em; /* 16/48px= 0.3333333333 em*/
  text-align: center;
}
h2 {
  font-size: 1.6666666667em; /* 40/24px= 1.6666666667 em*/
  line-height: 1em; /* 40/40px= 1 em*/
  padding: 0.4em; /* 16/40px= 0.4 em*/
  text-align: left;
}
h3 {
  font-size: 1.5em; /* 36/24px= 1.5 em*/
  line-height: 1em; /* 36/36px= 1 em*/
  padding: 0;
}
p {
  font-size: 1em; /* 24/24px= 1 em*/
  line-height: 1.1666666667em; /* 28/24px= 1.1666666667em em*/
  padding: 0.6666666667em; /* 16/24px= 0.6666666667em*/
}
ol {
  font-size: 0.75em; /* 18/24px= 0.75 em*/
  margin-left: 1em; /* 24/24px= 1 em*/
  list-style-type: square;
}
ul {
  font-size: 0.75em; /* 18/24px= 0.75 em*/
  margin-left: 1em; /* 24/24px= 1 em*/
  list-style-type: square;
}
nav {
  font-size: 0.75em; /* 18/24px= 0.75 em*/
  width: 100%;
  padding: 1em; /* 24/24px= 1 em*/
  text-align: center;
}
footer {
  font-size: 0.75em; /* 18/24px= 0.75 em*/
  width: 100%;
  padding: 1em; /* 24/24px= 1 em*/
  text-align: center;
  background: rgba(10,10,10,0.2);
}
/* Use Responsive Image Styles */
img {
  display: block;
  max-width: 100%;
}
figcaption {
  font-size: 0.6666666667em; /* 16/24px= 0.6666666667 em*/
  color: white;
  position: absolute;
  bottom: 0;
  background: rgba(20,20,20,0.8);
}
.gallery li {
  margin-bottom: 1em; /* 24/24px= 1 em*/
}
/* MEDIA QUERIES */
/* 300/16px=18.75em em*/
@media screen and (min-width: 18.75em) {
  figure {
    position: relative;
  }
  figcaption {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0.75em; /* 18/24px= 0.75 em*/
  }
}
/* 600/16px=37.5 em*/
@media screen and (min-width: 37.5em) {
  figure {
    display: grid;
    grid-template-columns: 4fr 3fr;
    grid-template-rows: auto;
    grid-gap: 1em;
    gap: 1em;
  }
  figcaption {
    font-size: 0.75em; /* 18/24px= 0.75 em*/
    position: static;
    grid-column: 2;
    grid-row: 1;
  }
}
/*
  A quick baseline grid overlay using css+svg.
  Inspired by [Basehold.it](https://basehold.it/). @author leshido
  1. Paste this at the *very* bottom of your CSS file.
  2. Change the `height` value on `<svg height="" ...>` to the value
     of your `line-height` (in pixels).
  3. Add `class="g"` to your `<html>` tag to display the grid.
 */

.g body { position: relative; }

.g body::after {
  background: url('data:image/svg+xml;utf8,<svg height="28" width="1" xmlns="http://www.w3.org/2000/svg"><rect width="1" height="0.5" style="fill:rgba(255, 0, 0, 0.3)" /></svg>') repeat top left;
  content: "";
  display: block;
  pointer-events: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  position: absolute;
}

.g body:active::after { display: none; }
